RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} \.(js|ico|gif|jpg|png|css|txt|xml|cur|doc|html|swf|jpeg|exe|dll)$
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]